.container {
    padding: 1.2rem;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarOptionContainer {
    display: flex;
}

.buttonJoin {
    cursor: pointer;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background-color: #2170c0;
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 1.2rem;
}